.content{
    width:1200px;
    text-align: center;
    margin:0 auto;
}
.list{
    width:240px;
    height:350px;
    float:left;
    list-style-type: none;
    background-color: rgba(255,182,193,0.1);
    margin-top:50px;
    position: relative;
    text-align: center;
    margin-left:50px;
}
.list img{
    width:240px;
    height:270px;
    float:left;
}
.list p{
    font-size:13px;
    margin-top:5px;
}
.list h3{
    color:indianred;
    margin-top:10px;
}#btn{
    width: 70px; 
    height:30px; 
    padding:8px;  
    background-color: orangered;  
    border-color: #357ebd;  
    color: #fff;  
    -moz-border-radius: 10px;  
    -webkit-border-radius: 10px;  
    border-radius: 10px; /* future proofing */   
    vertical-align: middle;  
    border: 1px solid transparent;  
    font-weight: 500;  
    font-size:15px;
    float:right;
    margin-top:-25px;
}