page-details1 {
    ion-navbar {
        text-align: center;
        font-size: 2rem;
        }
        ion-navbar img{
            float: left;
            width: 10px;
            margin-left: 10px;
        }
        ion-navbar span{
            margin-left: -10px;
        }
}
