page-message{
    text-align: center; 
} 
#content{
    background-image: url("../assets/imgs/login/bg1.jpg");
}
#content-color{
    background-color:rgba(5, 5, 5,0.5);
}

#top img{
    float:left;
    height:35px;
    width:35px;
}
#top p{
    text-align:center;
    color:white;
    font-size:18px;
    margin-top:25px;
}
#center img{
    width:156px;
    height:66px;
    margin-top:40px;
}
#center p{
    color:white;
    font-size:15px;
    margin-top:-10px;
}
#input{
    width:250px;
    margin:0 auto;
    margin-bottom:30px;
}
page-message {

}
