
.btn{
    width: 285px;
    height: 45px;
    margin-top: 35px;
    border-radius: 10px;
}
.list{
    text-align: center;
    margin-top: 50px;
}
ion-input{
    background-color: bisque;
    border-radius: 5px;
    border:none;
    opacity: 0.8;
}
.img{
    width: 80px;
    margin-top: 50px;
    margin-left: 30px;
}

h1{
    text-align: center;
}
.jizhu{
    font-size: 16px;
    color: blue;

}
.zhuce{
    font-size: 16px;
    color:blue;
    margin-left: 120px;
}
// .tabs-ios .tab-button {
//     max-width: 240px;
//     min-height: 49px;
//     font-size: 10px;
//     font-weight: 500;
//     color: #8c8c8c;
//     padding: 0 2px;
//     display: none;
// }
.item-ios{
    background-color:rgba(255,255,255,0.01);
}
.list-ios > .item-block:first-child{
    border: 0px;
}
.list-ios .item-block .item-inner {
    border-bottom: 0.55px solid #c8c7cc;
    color: white;}
